* {
    
    padding:0px;
    margin:0px;
    -webkit-user-select: none;
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
    
    
}

body {
  background: #eee;
}


.h1 {
    
    
    background-color: #fff;
    resize: none;
    position:absolute;
    top:0px;
    left:0px;
    width:800px;
    height:80px;
    font-weight:bold;
    
    opacity:1.0;
    font-size:36px;
    
    border:none;
    outline: none;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    overflow:visible;
    
    -webkit-touch-callout:none;
        -webkit-user-select: auto;

    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);


}


#view001 {

    background-color:#fff;
    
    top:10px;
    left:0px;
    width:800px;
    height:80px;

}


.p {
    
    
    background-color: #fff;
    resize: none;
    position:absolute;
    top:0px;
    left:0px;
    width:800px;
    height:80px;
    font-weight:bold;
    
    opacity:1.0;
    font-size:22px;
    
    border:none;
    outline: none;
    
    -webkit-touch-callout:none;
        -webkit-user-select: auto;

    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);


}


#view002 {

    background-color:#fff;
    
    top:100px;
    left:140px;
    width:520px;
    height:330px;
    

}


#wrapper {
    
  width: 1000px;
    margin:0 auto;
    
}


#header {
    
  width: 100%;
    height: 90px;
    position:relative;
    color:#000;
    
}

#logo {
    
    position:absolute;
      top:10px;
    left:32px;
      width: 200px;
    height:80px;
    
    background-image:url("http://jsrun.it/assets/7/o/b/5/7ob5F.png");
    background-size:100%;
    
}





#main {
  width: 100%;
    
    height: 800px;
    color:#000;
    position:relative;
   
}


#slide {
  position: absolute;
    top:0px;
    left:100px;
      width: 800px;
    height:450px;
    background-color:#fff;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1) ;
}



#footer {
  clear: both;
    width: 100%;
      height: 50px;
        text-align: center;
          background-color: #D2D2D2;
}
