<!DOCTYPE HTML>
<html lang="ja">

  <head>

    <link rel="stylesheet" type="text/css" href="../main2.css">
    <script src="../jquery.js"></script>
    <script src="<%= rocketio_js %>"></script>
    <script src="../index2.js"></script>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>edit</title>
    <meta name="viewport" content="width=1000px, user-scalable=yes" />
        
  </head>

  <body>    
    <div id="logo"></div>
    <div id="wrapper">
      <div id="header"></div>
      <div id="main">
        <div id="slide">
          <input contenteditable="fales" type="text" class = "h1" id="view001" value="タイトル">
          <textarea contenteditable="fales" class = "p" id="view002" >てすと</textarea>
        </div>
      </div>
      <div id="footer">  <p>Footer</p>    </div>
    </div>    
  </body>       
</html>
